{% extends "admin_base.html" %}
{% block content %}

<h2>Add Driver</h2>


<form method="post">
    <div class="row mb-3">
        <label for="fn" class="col-sm-1 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" id="fn" name="fn">
        </div>
    </div>
    <div class="row mb-3">
        <label for="sn" class="col-sm-1 col-form-label">Surname</label>
        <div class="col-sm-10">
            <input type="text" id="sn" name="sn">
        </div>
    </div>
    <div class="row mb-3">
        <label for="cars" class="col-sm-1 col-form-label">Car ID</label>
        <div class="col-sm-10">
            <select id="cars" name="car">
                {% for id in cars %}
                <option value="{{ id }}">{{ id }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="is_junior" class="col-sm-1 col-form-label">Is Junior?</label>
        <div class="col-sm-10 form-switch">
            <input type='checkbox' data-bs-toggle='collapse' data-bs-target='#juniorPart' id="is_junior"
                   name="is_junior"
                   class="form-check-input">
        </div>
    </div>


    <div class="collapse" id="juniorPart">
        <div class="row mb-3">
            <label for="dob" class="col-sm-1 col-form-label">DOB</label>
            <div class="col-sm-10">
                <input type="date" id="dob" name="dob">
            </div>
        </div>
        <div class="row mb-3">
            <label for="care_givers" class="col-sm-1 col-form-label">Care Giver ID</label>
            <div class="col-sm-10">
                <select id="care_givers" name="care_giver">
                    {% for id,name in care_givers %}
                    <option value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary"> submit</button>

</form>

{% if message is defined %}
<br><br>
<h2>{{ message }}</h2>
{% endif %}

{% endblock %}