{% extends "index.html" %}
{% block content %}

<h2>Driver Run Details</h2>

<form class="row g-3">
    <div class="col-auto">
        <label for="drivers" class="form-label">Please select driver</label>
    </div>
    <div class="col-auto">
        <select class="form-control" id="drivers" name="driver">
            {% for id,driver in drivers %}
            <option value="{{ id }}">{{ driver }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"> submit</button>
    </div>
</form>

<br>

{% if driver_details is defined %}
<table class="table">
    <!--    select driver_id, first_name, surname, model, drive_class, name as course_name, run_num, seconds, cones, wd from run r, driver d, course c, car where r.dr_id = d.driver_id and r.crs_id = c.course_id and d.car = car.car_num;-->
    <thead>
    <tr>
        <th>Driver ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Car Model</th>
        <th>Drive Class</th>
        <th>Course Name</th>
        <th>Run Number</th>
        <th>Seconds</th>
        <th>Cones</th>
        <th>WD</th>
        <th>Run Total</th>
    </tr>
    </thead>
    <tbody>
    {% for detail in driver_details %}
    <tr>
        <td>{{ detail[0] }}</td>
        <td>{{ detail[1] }}</td>
        <td>{{ detail[2] }}</td>
        <td>{{ detail[3] }}</td>
        <td>{{ detail[4] }}</td>
        <td>{{ detail[5] }}</td>
        <td>{{ detail[6] }}</td>
        <td>{{ detail[7] }}</td>
        <td>{{ detail[8] }}</td>
        <td>{{ detail[9] }}</td>
        <td>{{ detail[10] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}