{% extends "index.html" %}
{% block content %}
<!-- driver_list is the variable passed in containing the list of drivers -->
<!-- Add code to display a list of drivers -->

<h2>Driver List</h2>

<table class="table">
    <tr>
        <th>First Name</th>
        <th>Surname</th>
    </tr>
    {% for driver in driver_list %}
    <tr {% if driver[3] and driver[3] < 16 %} class="table-warning" {% endif %}>
        <td><a href="{{ url_for('driver_run_details') }}?driver={{ driver[0] }}">{{ driver[1] }}</a></td>
        <td><a href="{{ url_for('driver_run_details') }}?driver={{ driver[0] }}">{{ driver[2] }}</a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}