{% extends "admin_base.html" %}
{% block content %}

<h2>Driver Search</h2>

<form class="row g-3">
    <div class="col-auto">
        <label for="query">Please input full or partial first name or surname</label>
    </div>
    <div class="col-auto">
        <input type="text" id="query" name="query">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"> submit</button>
    </div>
</form>

{% if drivers is defined %}
<table class="table">
    <!--    select driver_id, first_name, surname, model, drive_class, name as course_name, run_num, seconds, cones, wd from run r, driver d, course c, car where r.dr_id = d.driver_id and r.crs_id = c.course_id and d.car = car.car_num;-->
    <thead>
    <tr>
        <th>Driver ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Care Giver ID</th>
        <th>Car ID</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in drivers %}
    <tr>
        <td><a href="{{ url_for('driver_run_details') }}?driver={{ driver[0] }}">{{ driver[0] }}</a></td>
        <td><a href="{{ url_for('driver_run_details') }}?driver={{ driver[0] }}">{{ driver[1] }}</a></td>
        <td><a href="{{ url_for('driver_run_details') }}?driver={{ driver[0] }}">{{ driver[2] }}</a></td>
        <td>{{ driver[3] }}</td>
        <td>{{ driver[4] }}</td>
        <td>{{ driver[5] }}</td>
        <td>{{ driver[6] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}