{% extends "admin_base.html" %}
{% block content %}

<h2>Edit run detail</h2>

<form method="post">
    <div class="row mb-3">
        <label for="drivers" class="col-sm-1 col-form-label">Select Driver</label>
        <div class="col-sm-10">
            <select id="drivers" name="driver">
                {% for id,driver in drivers %}
                <option value="{{ id }}">{{ driver }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="runs" class="col-sm-1 col-form-label">Select Run</label>
        <div class="col-sm-10">
            <select id="runs" name="course_run">
                {% for id,run in runs %}
                <option value="{{ id }}">Course: {{ run[0] }}, Run: {{ run[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="time" class="col-sm-1 col-form-label"> Time used</label>
        <div class="col-sm-10">
            <input type="text" id="time" name="time">
        </div>
    </div>

    <div class="row mb-3">
        <label for="cone" class="col-sm-1 col-form-label"> Cones</label>
        <div class="col-sm-10">
            <input type="text" id="cone" name="cone">
        </div>
    </div>

    <div class="row mb-3">
        <label for="wd" class="col-sm-1 col-form-label"> WD</label>
        <div class="col-sm-10">
            <input type="text" id="wd" name="wd">
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> submit</button>
</form>

{% if message is defined %}
<br><br>
<h2>{{ message }}</h2>
{% endif %}

{% endblock %}