{% extends "admin_base.html" %}
{% block content %}

<h2>Junior Driver</h2>

<!-- code to display list of courses-->
<table class="table">
    <tr>
        <th>Driver ID</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Car ID</th>
        <th>Care Giver Name</th>
    </tr>
    {% for driver in drivers %}
    <tr>
        <td>{{ driver[0] }}</td>
        <td>{{ driver[1] }}</td>
        <td>{{ driver[2] }}</td>
        <td>{{ driver[3] }}</td>
        <td>{{ driver[5] }}</td>
        <td>{{ driver[6] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}