{% extends "base.html" %}

{% block content %}
    <h2>Disease Information</h2>
    <a class="btn btn-success"
       href="upload"
       role="button">New Guide</a>
    <br><br>
    <table class="table table-bordered border-primary">
        <tr>
            <th>Type</th>
            <th>Exists in NZ</th>
            <th>Common Name</th>
            <th>Image</th>
            <th>Operation</th>
        </tr>
        {% for guide in guide_list %}
            <tr>
                <td>{{ guide["type"] }}</td>
                <td>{{ guide["exists_in_nz"] }}</td>
                <td>{{ guide["common_name"] }}</td>
                <td><a href="{{ guide['guide_id'] }}"><img src="/uploads/{{ guide["filename"] }}"></a></td>
                {% if user['role'] != 'apiarist' %}
                    <td>
                        <a class="btn btn-primary"
                           href="{{ url_for('guide_api.guide_detail_page', id=guide['guide_id']) }}"
                           role="button">Edit</a>
                        <button class="btn btn-danger guide-delete" value="{{ guide["guide_id"] }}">Delete</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <script src="/js/guide.js"></script>

{% endblock %}