{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Reference Page</h1>
        <p>This page provides a list of useful references for my project.</p>
        <h2>Links</h2>
        <ul class="list-group">
            <li class="list-group-item">https://www.sciencedirect.com/topics/agricultural-and-biological-sciences/acute-bee-paralysis-virus</li>
            <li class="list-group-item">https://www.scientificbeekeeping.co.uk/ABPV.html</li>
            <li class="list-group-item">https://journals.plos.org/plospathogens/article?id=10.1371/journal.ppat.1004261</li>
            <li class="list-group-item">https://www.pnas.org/doi/10.1073/pnas.2002268117</li>
            <li class="list-group-item">https://www.genesig.com/assets/files/sbpv.pdf</li>
            <li class="list-group-item">https://www.istockphoto.com/jp/%E5%86%99%E7%9C%9F/bee</li>
            <li class="list-group-item">https://www.vox.com/down-to-earth/2023/1/19/23552518/honey-bees-native-bees-decline</li>
        </ul>
    </div>

{% endblock %}